{{ 'collection.css' | asset_url | stylesheet_tag }}

<h1 class="sv-page-title">{{ collection.title }}</h1>


{% render 'sv-product-section'
  ,
 sv_products: collections.all.products
  ,
 sv_show_search: false
%}

<script src="{{ 'collection.js' | asset_url }}" defer="defer"></script>

{% schema %}
  {
    "name": "Collection grid",
    "settings": []
  }
{% endschema %}